




<!DOCTYPE HTML>

<html>
	<head>
		<title>EHR PORTAL CHAIN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">EHR PORTAL CHAIN</a></h1>
				<!--<a href="#nav">Menu</a>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/learnmore">About us</a></li>
					<li><a href="">Helpline</a></li>
				</ul>-->
			</header>

		 
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/learnmore">About us</a></li>
					<li><a href="">Helpline</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<div id="trial" style="background-image: url('/static/img/banner.jpg');">
			<section id="banner" >
				<i class="icon fa-diamond"></i>
				<h2>EHR PORTAL Chain</h2>
				<p>WELCOME!</p>
				<ul class="actions">
					&nbsp;<li><a href="/domain" class="button big special">Sign In</a></li> &nbsp; &nbsp;
					<li><a href="/signup" class="button big special">Sign Up</a></li> &nbsp; &nbsp; 
				</ul>
			</section>
		</div>
        

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>